body {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 11px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filters {
  padding: 10px;
}

.filters .from-to-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filters .from-to-fields span {
  margin: 0 5px;
}

.filters .from-to-fields input {
  width: 45%;
}

.filters .reset-btn {
  margin-right: 10px;
}

.filters .btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.filters .search-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: blue !important;
}

.table .suffix {
  position: relative;
  top: -5px;
  font-size: 0.8em;
}
/* .table th:hover {
  border-right: 1px solid blue;
  resize: horizontal;
} */

.summary-line {
  padding: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.summary-line div {
  margin-right: 40px;
}

.summary-line .bold {
  font-weight: bold;
}

thead {
  background-color: #eee;
}

thead th {
  border-radius: 0;
  border-collapse: collapse;
}
